##############################
## IntelliJ
##############################
out/
.idea
.idea/
.idea_modules/
*.iml
*.ipr
*.iws
##############################
## Visual Studio Code
##############################
.vscode/
.code-workspace
